@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.wrapper.maintext {
  background-color: transparent;
  font-size: 5rem;
}
.maintext .type {
  padding: 2rem 1rem;
  width: auto;
  margin: auto;
}
.maintext h1 {
  color: #002121;
  width: 20ch;
  border-right: 4px solid #002121;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}

.wrapper.project-text {
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
.project-text .type {
  width: auto;
  margin: auto;
}
.project-text h1 {
  color: #002121;
  width: 6ch;
  border-right: 2px solid #002121;
  margin: 1rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.project-page-container {
  margin-top: 3rem; /* Adjust this value to control the gap */
}
