@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.wrapper.maintext {
  background-color: transparent;
  font-size: 5rem; /* Default font size for larger screens */
}

.maintext .type {
  padding: 2rem 1rem;
  width: auto;
  margin: auto;
}

.maintext h1 {
  color: #002121;
  width: 20ch;
  border-right: 4px solid #002121;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}

.wrapper.project-text {
  background-color: transparent;
  font-size: 2rem; /* Default font size for larger screens */
  font-weight: bold;
}

.project-text .type {
  width: auto;
  margin: auto;
}

.project-text h1 {
  color: #002121;
  width: 6ch;
  border-right: 2px solid #002121;
  margin: 1rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}

@media (max-width: 768px) {
  .wrapper.maintext {
    font-size: 2rem; /* Adjust the font size for mobile */
  }

  .maintext h1 {
    width: auto; /* Allow the text to wrap */
    margin-top: 5rem;
  }
}
